@import "../../index.scss";

.services {
  position: relative;
  z-index: 1;

  .services-container {
    max-width: 1150px;
    padding: 0 15px;
    margin: auto;

    @include large {
      max-width: 870px;
    }

    .content-width {
      max-width: 800px;
      width: 100%;
      margin-left: auto;

      @include large {
        max-width: 100%;
      }

      .services-text-container {
        flex: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .services-me {
          position: relative;
          display: flex;
          gap: 8px;
          font-size: 20px;
          border: 1px solid #fff;
          padding: 12px 30px;
          align-items: center;
          justify-content: center;
          border-radius: 50px;
          -webkit-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
          margin-bottom: 35px;

          &:hover {
            border: 1px solid #8750f7;
            color: #fff;

            .services-icon {
              color: #ffffff;
            }
          }

          .services-text {
            // color: #FFF;
            font-family: var(--ff-recoleta);
            font-size: 16px;
            line-height: normal;
            text-transform: uppercase;

            // @include mobile {
            //     font-size: 18px;
            // }
          }

          .services-icon {
            color: #8750f7;
            font-size: 17px;

            @include mobile {
              font-size: 17px;
            }
          }
        }
      }

      .services-title {
        font-family: "Mont-Bold", sans-serif;
        font-size: 42px;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 30px;

        @include mobile {
          font-size: 39px;
        }

        @include sm-mobile {
          font-size: 30px;
        }
      }

      .my-services-container {
        position: relative;

        .my-services-parent {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 15px;

          @include mobile {
            grid-template-columns: 1fr;
          }

          .my-services-items {
            border-radius: 10px;
            margin-bottom: 10px;
            width: 100%;
            margin-right: 10px;
            margin-bottom: 10px;
            border-radius: 25px;
            padding: 50px 30px;
            background: #191022;
            // background: #c7c3cc;
            border: 1px solid #222426;
            margin-bottom: 15px;
            -webkit-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            background-image: url("/lines-shadow.png");
            background-position: 325px -120px;
            background-repeat: no-repeat;
            background-size: contain;

            &:hover {
              border: 1px solid #8750f7;
              background-position: 325px 120px;

              svg {
                fill: #ffffff;
              }
            }

            @include xx-large {
              background-position: 300px -120px;

              &:hover {
                background-position: 300px 120px;
              }
            }

            @include x-large {
              background-position: 280px -120px;

              &:hover {
                background-position: 280px 120px;
              }
            }

            @include large {
              background-position: 315px -120px;

              &:hover {
                background-position: 315px 120px;
              }
            }

            @include tablet {
              background-image: none;
            }

            svg {
              width: 100%;
              max-width: 4.2rem;
              fill: #8750f7;
              margin-bottom: 18px;
            }

            .my-services-title {
              font-size: 32px;
              font-family: "Mont-Bold", sans-serif;
              font-weight: 700;
              line-height: normal;
              margin-bottom: 25px;
              text-transform: uppercase;

              @include x-large {
                font-size: 28px;
              }
            }

            .my-services-text {
              font-size: 16.5px;
              font-weight: 400;
              line-height: 23px;

              @include x-large {
                font-size: 15.7px;
              }

              @include mobile {
                font-size: 15px;
              }
            }

            .my-services-ico {
              margin-bottom: 25px;
              width: 100%;
              max-width: 5rem;
              fill: #8750f7;

              @include x-large {
                max-width: 4rem;
              }
            }
          }
        }
      }
    }
  }
}
