@import '../../index.scss';

.cursor {
    position: fixed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    z-index: 9993;
    border: 1px solid #fff;

    .cursor-dot{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
       
        border-radius: 50%;
    }

    @include mobile {
        display: none;

    }

}